<ul class="cards">
  <%@list.movies.each do |movie|%>
  <% bookmark = Bookmark.find_by(list:@list, movie: movie)%>
    <li class="card-trip">
      <%= image_tag movie.poster_url, width: 200 %>
      <div class="p-3">
      <h2><%= movie.title %></h2>
      <p><%= movie.rating%>✮</p>
      <p><%= movie.overview %></p>
      <hr>
      <p><%= bookmark.comment %></p>
      </div>
    </li>
  <% end %>
</ul>
