
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list do %>
        <p><%= list.name %></p>
        <% end %>
    </li>
  <% end %>
</ul>
