<h1><%=@list.name%></h1>
<ul>
  <%@list.movies.each do |movie|%>
  <% bookmark = Bookmark.find_by(list:@list, movie: movie)%>
    <li>
      <%= image_tag movie.poster_url, width: 200 %>
      <p><%= movie.title %></p>
      <p><%= movie.rating %></p>
      <p><%= movie.overview %></p>
      <p><%= bookmark.comment %></p>
    </li>
  <% end %>
</ul>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment%>
  <%= f.select :movie_id, options_for_select(@movies.map { |m| [m.title, m.id] }) %>
  <%= f.submit %>
<% end %>
